.console {
    position: absolute;
    left: 30px;
    right: 0;
    bottom: 30px;
    height: 200px;
    border-radius: 5px 0 0 25px;
    background-color: white;
    box-shadow: 0 0 10px 1px gray;
    overflow: scroll;
    background-color: #141922 !important;
}

.console > pre {
    margin: 0 !important;
    padding: 20px !important;
    min-height: 100% !important;
    border: 0 !important;
    border-radius: 0 !important;
    background-color: #141922 !important;
}
